.pracka{
    width: 18em;
    float: right;
    border-style: none;
    border-width: 150px;
}
body{
    background-color:rgb(83, 80, 80);
}
h1{
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color:rgb(228, 222, 222);
    font: 30px arial black;
}
h2:hover {color: blue;}
h2{
    width: 9em;
    border-style: solid;
    border-color:black;
    background-color:rgb(228, 222, 222);
    font: 20px arial black;
}
.odstavec1{
    text-align: left;
    background-color: rgb(228, 222, 222);
    font:20px arial;
}
.vyhody{
    width: 4.5em;
    border-style: solid;
    border-color:black;
    background-color:rgb(228, 222, 222);
    font-size:x-large;
}
.nevyhody{
    width: 6em;
    border-style: solid;
    border-color: black;
    background-color:rgb(228, 222, 222);
    font-size:x-large;
}
.ul_vyhody{
    list-style-type: '✓';
    font-size: xx-large;
    color: green;
    
}
.ul_nevyhody{
    list-style-type: '×';
    font-size: xx-large;
    color: red;}
li:hover {color:blue}