h1 {
  text-align: center;
  color: white;
  font-family: "Arvo", serif;
  letter-spacing: 5px;
  font-size: 40px;
}
body {
  background: black;
  font-family: "Arvo";
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  text-align: center;
  font-family: "Arvo";
}
h2 {
  color: white;
  text-align: center;
  font-family: "Arvo", serif;
  letter-spacing: 5px;
  font-size: 40px;
}
h3{
  color: white;
  text-align: center;
  font-family: "Arvo", serif;
  letter-spacing: 5px;
  font-size: 25px;
}
div {
  text-align: center;
}
a {
  font-family: "Arvo";
  letter-spacing: 1px;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
}
header {
  background: #181818;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  padding: 15px;
  font-size: 17px;
}
nav a:hover {
  background: rgb(219, 58, 58);
}
nav li {
  display: inline-block;
}
a.fade {
  opacity: 1;
}
.uvod {
  background-color: red;
}
.projekt {
  background-color: red;
}
.kontakt {
  background-color: red;
}
.novinky {
  background-color: red;
}
.galerie {
  background-color: red;
}
.splash {
  background-image: url("lod.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
p {
  color: white;
  text-align: center;
  font-family: "Montserrat", serif;
  letter-spacing: 1px;
  font-size: 24px;
}
.menu2{
  margin: 0;
  padding: 0;
  padding: 15px;
  font-size: 17px;
  color: white;
  position: absolute;
  top:auto;
}
